# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.mp4
*.tar.gz
*.rar
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.settings/
node_modules/
package-lock.json
target/
_book/
.svn/
.idea/
dist/
/server/monitor/node/
/server/monitor/report.html

# Eclipse project files  
.classpath
.project
.tableList
.pri*
.fieldMapping*
yarn.lock
*.bak
.flattened-pom.xml
oripom.xml
*.lock.db
.checkstyle
package-lock.json
/updatelog.txt
